{% extends "admin/change_form.html" %}
{% load i18n static unfold %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin/site_content.css' %}">
{% endblock %}

{% block object-tools-items %}
{% if preview_url %}
{% include "unfold/helpers/tab_action.html" with title="Переглянути на сайті" link=preview_url blank=1 icon="open_in_new" %}
{% endif %}
{% endblock %}

{% block form_top %}
{% if section.description %}
<p class="leading-relaxed max-w-4xl text-subtle mb-4">{{ section.description }}</p>
{% endif %}
{% endblock %}
